:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.title-select {
  display: block;
}

.select {
  display: block;
}