
<td class="col-checkbox" (click)="$event.stopPropagation()">
  <input type="checkbox" class="row-checkbox" [checked]="isSelected()" (change)="toggleSelect.emit()">
</td>
<td class="col-matricula" (click)="abrirDetalhes()">{{ marcacao().matricula }}</td>
<td class="col-empresa" (click)="abrirDetalhes()">{{ marcacao().empresa | titleCaseCustom }}</td>
<td class="col-cargo" (click)="abrirDetalhes()">{{ marcacao().cargo | titleCaseCustom }}</td>
<td class="col-local" (click)="abrirDetalhes()">{{ marcacao().local | titleCaseCustom }}</td>
<td class="col-nome" (click)="abrirDetalhes()">{{ marcacao().nome | titleCaseCustom }}</td>
<td class="col-data" (click)="abrirDetalhes()">{{ marcacao().getDataFormatada() }}</td>
<td class="col-dia-semana" (click)="abrirDetalhes()">{{ marcacao().getDiaSemana() }}</td>
<td class="col-hora" (click)="abrirDetalhes()">

  @for (m of marcacao().marcacoes; track $index) {
    <span class="hora-pill" 
          [class.manual]="m.numSerieRelogio === 'MANUAL'"
          [class.desconsiderado]="m.desconsiderado">
      {{ formatHora(m.dataMarcacao) }}
      @if (marcacao().isDiaSeguinte(m)) {
        <small>(+1)</small>
      }
    </span>
  }
</td>
<td class="col-almoco" (click)="abrirDetalhes()">
  @if (isAlmocoIrregular()) {
    <span class="badge almoco-irregular">{{ getTempoAlmoco() }}</span>
  } @else {
    {{ getTempoAlmoco() }}
  }
</td>
<td class="col-total-horas" (click)="abrirDetalhes()">{{ marcacao().getHorasTrabalhadas() }}</td>
<td class="col-saldo" (click)="abrirDetalhes()">
  <span [class.saldo-positivo]="(marcacao().getSaldoMinutos() ?? -1) >= 0"
        [class.saldo-negativo]="(marcacao().getSaldoMinutos() ?? 1) < 0">
    {{ marcacao().getSaldoFormatado() }}
  </span>
</td>
<td class="col-status" (click)="abrirDetalhes()">
  <span class="badge" [class]="'status-' + marcacao().getStatus().toLowerCase()">
    {{ marcacao().getStatus() | titleCaseCustom }}
  </span>
</td>