<div class="table-container">
  @if (isLoading()) {
    <div class="loading-overlay">Carregando marcações...</div>
  }

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>CPF</th>
        <th>Matricula</th>
        <th>Trabalhador ID</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Atividade</th>
      </tr>
    </thead>
    <tbody>
      @for (marcacao of marcacoesDia(); track marcacao.id) {
        <tr>
          <td>{{ marcacao.id }}</td>
          <td>{{ marcacao.cpf }}</td>
          <td>{{ marcacao.matriculaFuncionario }}</td>
          <td>{{ marcacao.trabalhadorId }}</td>
          <td>{{ marcacao.dataMarcacao | date: 'dd/MM/yyyy' }}</td>
          <td>{{ marcacao.dataMarcacao | date: 'HH:mm:ss' }}</td>
          <td>{{ marcacao.atividade }}</td>
        </tr>
      } @empty {
        <tr>
        <td colspan="5" style="text-align: center;">Nenhuma marcação encontrada.</td>
        </tr>
      }
    </tbody>
  </table>
</div>