/* You can add global styles to this file, and also import other style files */

:root {
  --color-primary-dark: #000000;
  --color-secondary-dark: #000401;
  --color-terciary-dark: #131313;
  --color-text-light: #8D9797;
  --color-text-muted: #4E545C;
  --color-white: #FFFFFF;

  --color-accent-yellow: #FFD700;

  --status-success: #38C172;
  --status-warning: #DDC32F;
  --status-danger: #E3342F;
  --status-info: #3490DC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}